<div class="padre" >
    <div class="row" style="width: 100%; height: 80%;" >
        <div class="col-xl-5 col-md-12 col-sm-12" style="margin: auto auto; text-align: center;">
            <img src="assets/img/sad.png" width="75%" height="90%" alt="">
        </div>
        <div class="col-xl-7 col-md-12 col-sm-12" style="text-align: center; margin: auto;">
            <h1>
                AWWW...DON’T CRY.
            </h1>
            <h5>
                It's just a 404 Error!</h5>
            <h5>
                What you’re looking for may have been misplaced in Long Term Memory.</h5>
        </div>
    </div>
</div>
