<app-header [dashbord]="true"></app-header>

<div id="contenedor" class="container mt-3">
    <h3>Mis diseños</h3>
    <div class="row">

        <div class="col-xl-3 col-md-4 col-sm-12 mt-3" *ngFor="let item of listAvatar">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">{{item.nombre}}</h5>

                        <p style="font-size: x-small;">
                            {{item.fecha | date :'shortDate'}}
                        </p>
                    </div>

                    <div class="row justify-content-between">
                        <button class="btn btn-outline-primary col-5" (click)="edit(item.id)">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button class="btn btn-outline-danger col-5" (click)="delete(item.id)">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>